:root {
    --ff-product-sans: 'Product Sans', sans-serif;
    --ff-montserrat: 'Montserrat', sans-serif;

    --white: #fff;
    --yellow: #ffcb02;
    --orange: #d2a90b;
    --black: #1f2020;
    --gray: #282929;
    --lightgray: #a5a6a6;
    --shadow-black: rgba(0, 0, 0, 0.16);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:hover {
    text-decoration: none;
    color: var(--white);
}

a {
    text-transform: uppercase;
}

ul,
ol {
    margin-bottom: 0;
}

li {
    list-style: none;
}

body {
    font-family: var(--ff-product-sans);
    background: var(--gray);
    min-width: 300px;
}

html,
body {
    scroll-behavior: smooth;
    height: 100%;
}

section {
    scroll-margin-top: 80px;
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

h1 {
    font-size: 60px;
    color: var(--white);
    margin-bottom: 0;
}

h2,
h3 {
    color: var(--orange);
    margin-bottom: 0;
}

header p {
    font-family: var(--ff-product-sans);
}

p {
    color: var(--white);
    font-family: var(--ff-montserrat);
    text-align: justify;
    margin-bottom: 0;
}

.section-title {
    width: fit-content;
    margin: 0 auto;
    line-height: 1.4;
    font-size: 28px;
}

.section-title::before {
    content: '';
    display: block;
    width: 52px;
    height: 2px;
    background: var(--white);
    margin-left: auto;
}

.section-title::after {
    content: '';
    display: block;
    width: 52px;
    height: 2px;
    background: var(--white);
}

/* Скроллбар */
::-webkit-scrollbar {
    width: 10px;
}

/* Кнопки скроллбара */
::-webkit-scrollbar-button {
    background: var(--yellow);
}

/* Поле, по которому движется ползунок скролла */
::-webkit-scrollbar-track {
    background: var(--black);
}

/* Ползунок скролла */
::-webkit-scrollbar-thumb {
    background: var(--yellow);
}

/* ===== Header ===== */

.header {
    background: url(../img/header_img_bg.jpg) no-repeat center / cover fixed;
    min-height: 100vh;
}

.header__content {
    padding: 30px 0;
}

.navbar {
    background: var(--black);
    padding-top: 22px;
    padding-bottom: 23px;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
}

.logo {
    font-size: 26px;
    border: 1px solid transparent;
    border-image: 1 linear-gradient(135deg, var(--white) 35%, var(--yellow) 65%);
    line-height: 1.3;
    padding: 0 18px;
}

.logo span {
    color: var(--yellow);
}


.nav-item:first-child .navbar__link {
    margin-left: 0;
}

.navbar__link {
    font-size: 20px;
    padding: 0 !important;
    margin-left: 55px;
}

.navbar__link:hover {
    color: var(--yellow);
}

.dropdown-menu {
    right: 5px;
    left: auto;
    padding: 0;
    border-radius: 6px;
}

.dropdown-item {
    color: var(--gray);
    padding: 14px;
    border-radius: 6px;
    text-transform: lowercase;
    text-align: center;
}

.dropdown-item:active {
    background: var(--yellow);
}

.dropdown-divider {
    border-color: var(--black);
    margin: 0;
}

.header__title {
    margin-bottom: 50px;
}

.header__subtitle {
    font-size: 22px;
    line-height: 1.3;
}

.navbar__button {
    border: 2px solid var(--white);
    border-radius: 5px;
}

.navbar__burger {
    color: var(--white);
    font-size: 22px;
}

/* ===== Header end ===== */

/* ===== Story ===== */

.story__container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.story__text {
    font-size: 18px;
    line-height: 1.3;
    margin-top: 30px;
}

.carousel {
    background: var(--black);
    padding: 15px 0;
}

.carousel__container {
    position: relative;
    height: 100%;
}

.carousel__button {
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
}

.carousel__icon {
    font-size: 28px;
}

.carousel__icon::before {
    color: var(--yellow);
}

.carousel__icon::after {
    color: var(--lightgray);
}

.carousel-item__image {
    width: 100%;
    border-radius: 6px;
}

.carousel-item__title {
    font-family: var(--ff-montserrat);
    font-weight: 700;
    font-size: 24px;
}

.carousel-item__title span {
    color: var(--white);
}

.carousel-item__text {
    font-size: 18px;
    line-height: 1.3;
}

/* ===== Story end ===== */

/* ===== Works ===== */

.works__container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.works__title {
    margin-bottom: 30px;
}

.works__text {
    font-size: 18px;
    line-height: 1.3;
}

.nav__tabs {
    border: none;
    max-width: 600px;
    width: 100%;
    margin: 0 auto 30px;
    justify-content: space-around;
}

.nav__link {
    font-size: 16px;
    color: var(--black);
    background: var(--white);
    border-radius: 20px !important;
    padding: 10px 30px;
    line-height: 1;
    border: none !important;
    box-shadow: 0 0 18px var(--shadow-black);
    margin-bottom: 20px;
}

.nav__link.active {
    color: var(--white) !important;
    background: var(--black) !important;
}

.nav__link:hover {
    background: var(--yellow);
}


.tabs__item {
    height: 400px;
}

.tabs__item.active {
    display: flex !important;
    flex-wrap: wrap;
}

.tabs__col {
    height: 100%;
}

.tabs__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.tabs__content {
    background: var(--black);
    height: 100%;
    padding: 20px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.tabs__title {
    text-transform: none;
    font-size: 24px;
    margin-bottom: 15px;
}

.tabs__text {
    line-height: 1.5;
    overflow-y: auto;
    height: 250px;
}

.tabs__button {
    font-family: var(--ff-montserrat);
    background: var(--orange);
    font-weight: 700;
    line-height: 1;
    padding: 15px 30px;
    display: inline-block;
    border-radius: 24px;
}

/* ===== Works end ===== */

/* ===== Info ===== */

.info {
    padding: 60px 0 30px;
}

.info__title {
    margin-bottom: 30px;
}

.accordion__card {
    border: none;
    border-radius: 0;
}

.accordion__card:not(:last-child) {
    margin-bottom: 15px;
}

.accordion__card-header {
    background: var(--black);
    padding: 0;
}

.accordion__card-button {
    width: 100%;
    text-align: left;
    padding: 15px;
    color: var(--white);
    text-transform: uppercase;
    font-family: var(--ff-montserrat);
    font-weight: 700;
    font-size: 20px;
    border-radius: 0;
}

.accordion__card-button:not(.collapsed) {
    background: var(--orange);
    color: var(--gray);
}

.accordion__card-button:not(.collapsed):hover {
    color: var(--gray);
}

.accordion__card-button i {
    font-size: 22px;
    margin-right: 5px;
}

.accordion__card-button:hover {
    text-decoration: none;
    color: var(--yellow);
}

.accordion__card-button:focus {
    border-radius: 0;
    text-decoration: none;
}

.accordion__card-body {
    background: var(--black);
    color: var(--white);
    font-size: 18px;
    font-family: var(--ff-montserrat);
    text-align: justify;
    padding: 20px 15px;
    line-height: 1.3;
    border: 1px solid var(--orange);
}


/* ===== Info end ===== */

/* ===== Footer ===== */

.footer {
    background: var(--black);
    padding: 20px 0;
    flex: 0 0 auto
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 45px 0;
}

.footer__link {
    margin: 0 25px;
    font-size: 20px;
}

.footer__link:hover {
    color: var(--yellow);
}

.footer__contacts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer__tel,
.footer__email {
    font-size: 20px;
    margin: 0 15px;
    text-transform: lowercase;
}

.footer__tel:hover,
.footer__email:hover {
    color: var(--yellow);
}

/* ===== Footer end ===== */
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.page{
    background: var(--gray);
    min-height: 5vh;
}
.footer{
    position: relative;
    height: auto;
}
.main{
    flex: 1 1 auto;
}